body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

h2{
    text-align: start;
}



#profilePic{
    max-width: 100px;
    max-height: 100px;
    border-radius: 55%;
}

/* Beginning of page */
header{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 30px;
    background-color: rgb(9, 9, 165);
    color: white;
    flex-shrink: 1;
}

/* Title name written in the header. */
header .title{
    font-style: italic;
}

/* Bar that displays links around the page. */
nav {
    background-color: rgb(20, 180, 220);
    text-decoration: azure;
    text-align: end;
}

/* Displaying elements in the nav bar. */
nav a{

    font-weight: bold;
    color: white;
}

/* Hover over elements in the nave bar. */
nav a:hover{
    color: purple;
}

/* Aside from main. */
aside {
    text-decoration: underline;
    display: flex;
    flex: row;
    width: 40%;
    float: left;
    font-style: italic;
    color: black;
}

/* Main body of the webpage */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    /* Sets top and bottom margin to 20px. Auto will center element */
    margin: 20px auto;
    flex: 1;
}

/* 'About Me' section. */
.aboutMe{
    flex-basis: 50%;
    /* Sets top and bottom margin to 20px. Auto will center element */
    margin: 20px auto;
    background-color: antiquewhite;
    color: black;
    flex-grow: 1;
    padding: 20px;
}

/* working experiences, interest contianer.
Aside from title 'Work'.***/
.container-exp{
    
    /* width: 70%;
    /* Sets top and bottom margin to 20px. Auto will center element */
    /* margin: 20px auto; */ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    row-gap: 20px;
    column-gap: 20px; 

    padding: 20px;
    flex: 1;

    

}




/* Cards that hold information about work experience. */
.container-card{
    /* flexes width */
    flex-basis: 35%;
    background-color: antiquewhite;
    border-style: double;
}

/* Used stack overflow code: https://stackoverflow.com/questions/41789278/first-child-full-width-in-flexbox 
    The first child of the parent container will be presented bigger. */
.container-card:first-child{
    flex-basis: 100%;
}

.container-card:not(:first-child){
    flex: 1;
}

.container-card:hover{
    border-color: blue;

}

.container-card .title{
    padding-top: 15px;
    text-decoration: underline;
    text-align: center;
}

.container-card p{
    text-align: center;
    padding: 20px 16px;
}

/* Contact style */
.contact ul{
    padding: 20px;
}

/* The end of the page */
footer{
    text-align: center;
    color: white;
    background-color: rgb(9, 9, 165);
}



